@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(imaage.jpeg);
    background-size: cover;
    background-position: center;
}
h1{
    margin: 20px 0px 20px 0px;
    font-size: 75px;
    color: white;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0px 15px 15px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: skyblue;
}
ul{
    list-style-type: none;
    display: flex;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 25px;
}
.wal{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 15px;
}
.content {
    margin: 70px 70px;
    color: white;
}
.theh3 {
    color: darkcyan;
    letter-spacing: 3px;
    font-size: 35px;
}
form {
    width: 380px;
    position: relative;
    }
form input:first-child{
    width: 61%;
    padding: 14px 130px 14px 15px;
    border: 2px solid deepskyblue;
    border-radius: 30px;
    outline: none;
}
form input:last-child{
    background-color: deepskyblue;
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about .main img{
    height: 350px;
    width: 380px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    }
    .about-text h5{
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .about-text p{
        color: white;
        letter-spacing: 1px;
        font-size: 18px;
        margin-bottom: 45px;
    }
    .about-text button{
        background-color: skyblue;
        border-radius: 30px;
        height: 40px;
        width: 100px;
        font-weight: bold;
        cursor: pointer;
         }
    h6{
        font-size: 50px;
        color: black;
        text-transform: capitalize;
        padding-left: 480px;
        justify-content: center;
        color: white;
}
.wbc{
    font-size: 10px;
    display: flex;
    padding-top: 80px;
    margin-left: 30px;
}
.wbc h3{
    text-transform: capitalize;
    padding-left: 73px;
    justify-content: center;
    color: white;
}
.wbc button{
    background-color: skyblue;
    border-radius: 30px;
    height: 30px;
    width: 120px;
    margin-left: 79px;
    letter-spacing: 1px;
    margin-top: 10px;
    border-width: 0;
    cursor: pointer;
}
.wbc p{
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: center;
}
.wbc i{
    color: skyblue;
    font-size: x-large;
    padding-left: 100px;
    color: skyblue;
    padding-left: 120px;
}
h4{
    justify-content: center;
    color: white;
    }
.hire{
    padding-top: 100px;
    padding-left: 450px;
}
.hire button{
    background-color: skyblue;
    border-radius: 30px;
    width: 80px;
    height: 25px;
    margin-left: 90px;
    margin-top: 10px;
    border-width: 0;
    cursor: pointer;
    margin-bottom: 20px;
    }
    .service{
        background-color: black;
    }
    .closer i{
        color: black;
        padding-left: 10px;
        }
    .closer h5{
        color: white;
        font-size: 10px;
        padding-bottom: 20px;
        padding-left: 27px;
        padding-top: 6px;
        
    }
    .closer{
        margin-left: 500px;
        margin-top: 30px;
    }
.closer h4{
padding-bottom: 20px;
padding-left: 1px;
}
.icons{
    margin-left: 23px;
    }
.icons button{
background-color: skyblue;
height: 40px;
width: 40px;
border-radius: 50%;
}
.icons i{
    margin-right: 8px;
}
@media (max-width: 768px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    li{
        padding: 10px 2px;
    }
    .content{
        margin: 12px 27px;
        color: white;
    }
    h1{
        font-size: 30px;
    }
    .theh3{
        color: darkcyan;
        font-size: 20px;
        margin-bottom: 20px;
    }
    form{
        width: 200px;
        position: relative;
    }
    form input:last-child{
        background-color: darkcyan;
        padding: 10px 30px;
        border-radius: 30px;
        position: absolute;
        border: none;
        top: 6px;
        cursor: pointer;
        right: -63px;
    }
    .main{
        margin: 20px 20px;
        display: block;
    }
    .about-text h2{
        color: white;
        font-size: 50px;
        text-transform: capitalize;
        margin: 20px 20px;
    }
    .about-text{
        padding: 10px 3px;
    }
    .about-text h5{
        color: white;
        letter-spacing: 2px;
        font-size: 12px;
        text-transform: capitalize;
    }
    .about-text p{
        color: white;
        font-size: 9px;
    }
    .about-text button{
        background-color: skyblue;
        margin-left: 120px;
        cursor: pointer;
        border-radius: 30px;
    }
    h6{
        font-size: 20px;
        color: white;
        text-transform: capitalize;
        margin-right: 50px;

    }
}

